# Ignore files without extension
*
!/**/
!*.*

#Ignore platform specific files
.DS_Store
thumbs.db

# Ignore IDE config folders
.vscode/
.idea/ 

## IoT

# Ignore .exe
*.exe

# Ignore pio files
.pio

# Ignore sensitive files
arduino_secrets.h

# Ignore build files
build/


## Frontend
# dependencies
node_modules/
# Expo
.expo/
dist/
web-build/
expo-env.d.ts
# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
# Metro
.metro-health-check*
# debug
npm-debug.*
yarn-debug.*
yarn-error.*
# macOS
*.pem
# local env files
.env*.local
# typescript
*.tsbuildinfo