# Ignore files without extension
*
!/**/
!*.*

# Ignore VS Code config folder
.vscode/

# Ignore .exe
*.exe

# Ignore pio files
.pio
.vscode

# Ignore sensitive files
arduino_secrets.h

# Track Doxyfile for doxygen configuration
!Doxyfile

# Ignore .DS_Store
.DS_Store